.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* coler collection */
.description-color{color: #0E0E0E; 
                    font-size: 24px;
                    font-weight: 200; 

}
.regular-description{font-size: 16px;
                     color: #0E0E0E;

}
.title-color{font-size: 40px;              /*  $ */
             font-weight: bold;
             color: #0E0E0E;}

.main-title{color:#0E0E0E;
            font-size: 40px;
            font-weight: bold;}
                         /*   button style */

          .first-button{background: #006A50;
                        color: #FFFFFF;
                        font-size: 18px;
                         height: 56px;
                         width: 270px;
                         border-radius: 8px;
                         border: none;

                         }
                .btn{height: 41px;
                     width: 122px;
                     border-radius: 8px;
                     background-color: #5490F5;
                     color: #FFFFFF;}




                         .banner-content{
                            margin-left: 60px;}

.banner{display: flex;
       justify-content: space-between;
       align-items: center;
       border: none;
       margin:120px 160px 0 120px;
       padding: 20px;
       background-color: #3C916A;
       border-radius: 24px;}
       

       .banner-image{margin:70px 50px 70px 0;}
                           /*  2nd page start */
                           .box{display: flex;
                               justify-content: space-around;
                               align-items: center;
                               gap:24px;
                               border: 1px solid;
                               height: 256px;
          width:  100%;

                                
                               }
                               .the-vision{background-color:#F1F1F3;
                                           border:1px solid;
                                           margin: 80px 160px 0 160px;}
   /* box design     */
    .box1{background-color: rgba(84, 144 , 244, 20%);
          border-radius: 16px;
          border: none;
          padding: 25px;
          
          
          

    } 
    .box2{background-color: rgb(197, 228, 214);
        border-radius: 16px;
        border: none;
        padding: 25px;
       
         
    }
    .box3{background-color: #f6ebcf;
        border-radius: 16px;
        border: none;
        padding: 25px;
        }   
        
        .dr{background-image: url('./assets/quote-bg.png')  ;
            background-repeat: no-repeat;
           background-position: 10px 10px ;
            
            margin:32px 160px 0 160px;
            border: 1px solid;
            padding: 20px;
            background-color: #FFFFFF;}

                             /*    3rd page */

.container2{margin:80px 160px 0px 160px;
           gap:20px;

              }
              .containerbaba3{margin:24px 160px 0px 160px;

              }
.containerbaba{border: 1px solid; 
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 20px;}

               .containerbaba3{
                border: 1px solid; 
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 20px;
               }
                            /*    donate box */
                            .donatebox{margin:80px 180px 0 160px;
                                        background-color: whitesmoke;
                                        border:1px solid;
                                        text-align: center;
                            }
                            .boxparttwo{display:flex;
                                       align-items: center;
                                       justify-content: space-around;}

                            .box4{background-color: gray;
                                height: 128px;
                                width: 240px;
                                border-radius: 16px;
                                color: #0E0E0E;
                                text-align: center;
                            }

                            .box5{background-color: gray;
                                height: 128px;
                                width: 240px;
                                border-radius: 16px;
                                color: #0E0E0E;
                                text-align: center;

                            }
                            .box6{background-color: gray;
                                height: 128px;
                                width: 240px;
                                border-radius: 16px;
                                color: #0E0E0E;
                                text-align: center;

                            }
                            .box7{background-color: gray;
                                height: 128px;
                                width: 240px;
                                border-radius: 16px;
                                color: #0E0E0E;
                                text-align: center;


                            }
                            .label{
                                   text-align: center;
                                   margin:32px 124px 88px 124px;
                                  
                            
                            }
                             .boxcontainer2{margin: 32px 100px 80px 100px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-around;
                                            gap: 24px;

                             }
                       /*    newsletter part */
                       .newsletter{ margin: 80px 180px 0 160px;
                        border: 1px solid;
                        text-align: center;
                        background-color: #C6E4D6;

                       }
                       .size{padding:15px 20px;

                       }