.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* coler collection */
.description-color{color: #0E0E0E; 
                    font-size: 24px;
                    font-weight: 200; 

}
.regular-description{font-size: 16px;
                     color: #0E0E0E;

}
.title-color{font-size: 40px;              /*  $ */
             font-weight: bold;
             color: #0E0E0E;}

.main-title{color:#0E0E0E;
            font-size: 40px;
            font-weight: bold;}
                         /*   button style */

          .first-button{background: #006A50;
                        color: #FFFFFF;
                        font-size: 18px;
                         height: 56px;
                         width: 270px;
                         border-radius: 8px;
                         border: none;
                         cursor: pointer;

                         }
                .btn{height: 41px;
                    font-size: 18px;
                     width: 122px;
                     border-radius: 8px;
                     background-color: #5490F5;
                     color: #FFFFFF;
                     border: none;
                    cursor: pointer;}

                     .subscribe-button{max-width: 100%;}

                     .btn:hover{background-color: blue;
                        box-shadow: 2px 2px 2px 2px red;

                     }




                         .banner-content{
                            margin-left: 60px;}

.banner{display: flex;
       justify-content: space-between;
       align-items: center;
       border: none;
       margin:120px 160px 0 120px;
       padding: 20px;
       background-color: #3C916A;
       border-radius: 24px;}
       

       .banner-image{margin:70px 50px 70px 0;}
                           /*  2nd page start */
                           .box{display: flex;
                               justify-content: space-around;
                               align-items: center;
                               gap:24px;
                               border: 1px solid;
                               height: 256px;
          width:  100%;

                                
                               }
                               .the-vision{background-color:rgb(244, 246, 244);
                                           border:1px solid;
                                           margin: 80px 160px 0 160px;}
   /* box design     */
    .box1{background-color: rgba(84, 144 , 244, 20%);
          border-radius: 16px;
          border: none;
          padding: 25px;
          

  } 
  


    .box2{background-color: rgb(197, 228, 214);
        border-radius: 16px;
        border: none;
        padding: 25px;
       
         
    }
    .box3{background-color: #f6ebcf;
        border-radius: 16px;
        border: none;
        padding: 25px;
        }   
        
        .dr{background-image: url('./assets/quote-bg.png')  ;
            background-repeat: no-repeat;
           background-position: 10px 10px ;
            border-radius: 10px;
            margin:32px 160px 0 160px;
            border: 1px solid;
            padding: 20px;
            background-color: #FFFFFF;}

                             /*    3rd page */

.container2{margin:80px 160px 0px 160px;
           gap:20px; 

              }
              .container2-image img {border-radius: 10px;}

              .container3-image img {border-radius: 10px;}
              

              .containerbaba3{margin:24px 160px 0px 160px;

              }
.conatinerbaba1{border: 1px solid; 
               display: flex;
               
               justify-content: space-between;
               align-items: center;
               padding: 20px;}
               .container2-content{margin-bottom: 56px;
                                     margin-left: 24px;}

               .containerbaba3{
                border: 1px solid; 
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 20px;
               }
                            /*    donate box */
                            .donatebox{margin:80px 180px 0 160px;
                                        background-color: whitesmoke;
                                        border:1px solid;
                                        text-align: center;
                            }
                            .boxparttwo{display:flex;
                                       align-items: center;
                                       justify-content: space-around;}

                            .box4{background-color: #ffffff;
                                padding: 10px;
                                border-radius: 16px;
                                color: #0E0E0E;
                                text-align: center;
                            }

                            .box5{background-color: gray;
                                padding: 10px;
                                border-radius: 16px;
                                color: #0E0E0E;
                                text-align: center;

                            }
                            .box6{background-color: #ffffff;
                                padding: 10px;
                                border-radius: 16px;
                                color: #0E0E0E;
                                text-align: center;

                            }
                            .box7{background-color: #ffffff;
                                padding: 10px;
                                border-radius: 16px;
                                color: #0E0E0E;
                                text-align: center;
}
/* box :hover part */
.box4:hover{
         background-color: red;
          }
          .box5:hover{
            background-color: red;
             }
             .box6:hover{
                background-color: red;
                 }
                 .box7:hover{
                    background-color: red;
                     }.first-button:hover{background-color: red;}
                     .btn:hover{
                        background-color: red;
                     }




                            .form{display: inline-flex;
                                justify-content: center;
                                 align-content: center;
                                 width: 100%;
                                 border: 1px solid;
                                 
                                 }
                                 .form-input{border: 1px solid;
                                              padding: 0 0 0 265px;}
                                 

                            .size{height: 33px;
                                  width: 500px;
                                 
                                  
                                   } 
                                  
                            
                          
                             .boxcontainer2{margin: 32px 100px 80px 100px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-around;
                                            gap: 24px;

                             }
                       /*    newsletter part */
                       .newsletter{ display: flex;
                         align-items: center;
                         justify-content: center;
                        margin: 80px 180px 0 160px;
                        border: 1px solid;
                        text-align: center;
                        background-color: #C6E4D6;

                       }
                       .newslatterdiv{margin:80px 265px 80px 265px;

                       }




                       /* .size{padding:15px 20px;

                       } */